{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="bg-white border bb">
  <div class="row padd-4-top">
  	<div class="small-12 columns">
  		<h3>Bookings list</h3>
      <p class="cl-gray">{{count}} bookings exist.</p>
  	</div>
  </div>
</div>
<div class="row push-4-top">
  <div class="small-12 medium-12 small-centered column">
    <div class="bg-white border b-all padd-4 push-4-top" data-equalizer-watch="order">
      <p>Filter: 
        <a href="?booking_status=1">Confirmed</a>,  
        <a href="?booking_status=2">Blocked</a>,  
        <a href="?booking_status=0">Not confirmed</a>
        <a href="?">Reset</a>
      </p>
    </div>
  </div>

  <div class="small-12 medium-12 small-centered column">
    <div class="bg-white border b-all padd-4 push-4-top" data-equalizer-watch="order">
      {% if bookings %}
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th>Booking ID</th>
                <th>Time</th>
                <th>Check-In</th>
                <th>Check-Out</th>
                <th>Property</th>
                <th>Booking Information</th>
                <th>Guest Information</th>
                <th>Guest</th>
                <th>Phone</th>
                <th>Booking Status</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
              <tr>
                <td><a href="{% url 'booking.info' booking.booking_id %}" target="_blank">{{booking.booking_id}}</a></td>
                <td>{{booking.created}}</td>
                <td>{{booking.checkin}}</td>
                <td>{{booking.checkout}}</td>
                <td>{{booking.package.name}}</td>
                <td><strong>Package Name : </strong>{{booking.package.name}} <br/>
                {{booking.no_of_guest}} {% if booking.no_of_extra_bed %} + {{booking.no_of_extra_bed}} {% endif %} Adult(s)<br/>
                <strong>Checkin : {{booking.checkin}}</strong> | <strong>Checkout : {{booking.checkout}}</strong>
                </td>
                <td>
                  <strong>Name</strong> {{booking.guest.name}}<br/>
                  <strong>Phone</strong> {{booking.guest.phone}}
                </td>
                <td>{{booking.guest.name}}</td>
                <td>{{booking.guest.phone}}</td>
                <td>{{booking.guest.email}}</td>
                <td> 
                  <button class="label
                  {% if booking.booking_status == 0 %}
                    alert
                  {% elif booking.booking_status == 1 %}
                    success
                  {% elif booking.booking_status == 2 %}
                    warning
                  {% else %}
                    alert
                  {% endif %}
                ">{{booking.get_booking_status_display}}</button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <hr/>
        <div class="row">
          <div class="small-12 column push-2-top">
            {% if bookings.paginator %}
              <ul class="pagination" role="navigation" aria-label="Pagination">
                {% if bookings.has_previous %}
                  <li> <a href="?page={{ bookings.previous_page_number }}">Previous <span class="show-for-sr">page</span></a></li>
                {% else %}
                  <li class="disabled">Previous <span class="show-for-sr">page</span></li>
                {% endif %}    
                {% for num in bookings.paginator.page_range %}
                  {% ifequal num bookings.number %}
                    <li class="current"><span class="show-for-sr">You're on page</span> {{ num }}</li>
                  {% else %}
                    <li><a href="?page={{ num }}" aria-label="Page {{ num }}">{{ num }}</a></li>
                  {% endifequal %} 
                {% endfor %}
                {% if bookings.has_next %}
                  <li><a href="?page={{ bookings.next_page_number }}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
                {%else%}
                  <li class="disabled">Next <span class="show-for-sr">page</span></li>
                {% endif %}    
              </ul>
            {% endif %}      
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="small-12 columns text-center">
            <h2>No Bookings</h2>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-4 large-3 small-centered columns">
            <img src="{{MEDIA_URL}} {% static 'images/icons/mountain.png' %}">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns text-center">
            <p class="cl-gray">There is no booking made on your account.</p>
            <a href="{% url 'package.list' %}" class="button large success">Find a Place to stay</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}