{% extends "base.html" %}
{% block content %}
  <div id="oneAction">
    <div class="oneActionInner">
      <div class="oneActionContainer row">
        <div class="column small-12 medium-7 large-5 small-centered">
          <div class="row">
            <div class="column small-12">
              <h2 class="text-center">Change Password</h2>
              {% if message %}
                {{message}}
              {% endif %}
              {% if errors %}
                {{errors}}
              {% endif %}
              <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                  {% for input in changepasswordform %}
                    <div class="small-12 columns">
                      <label>{{input.label}}
                        {{input}}
                      </label>
                      {{input.field_errors}}
                    </div>
                  {% endfor %}       
                  <div class="small-12 columns">
                    <button class="button expanded">
                      Change 
                    </button>
                  </div>        
                </div>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}