{% extends "base.html" %}

{% block content %}

<div class="row  border bb push-4-bottom push-4-top">
  <div class="small-12 column medium-9">
    <h1 class="subheader">RoomnHouse <small>Dashboard</small></h1>
  </div>
</div>

<div class="row small-up-1 medium-up-2 large-up-4">
  <div class="column">
    <a href="{% url 'accounts.bookinglist.list' %}" class="button expanded"> View Bookings </a>
  </div>
</div>

<div class="row small-up-1 medium-up-2 large-up-4">
  <div class="column">
    <a href="{% url 'accounts.changepassword' %}" class="button expanded"> Change Password </a>
  </div>
  <div class="column">
    <a href="{% url 'accounts.logout' %}" class="button expanded"> Log out </a>
  </div>
</div>

{% endblock content %}