{% extends "base.html" %}
{% block content %}
  <div id="oneAction">
    <div class="oneActionInner">
      <div class="oneActionContainer row">
        <div class="column small-12 medium-7 large-5 small-centered">
          <div class="row">
            <div class="column small-12">
              <h1 class="text-center">Profile</h1>
              {% if errors %}
                {{errors}}
              {% endif %}
              <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                  {% for input in userprofileform %}
                    <div class="small-12 columns">
                      <label>{{input.label}}
                        {{input}}
                      </label>
                      {{input.field_errors}}
                    </div>
                  {% endfor %}               
                  <div class="small-12 columns">
                    <button class="button small expanded"> 
                      <p class="nospace">Update</p>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}