{% extends "base.html" %}
{% block content %}
  <div id="oneAction">
    <div class="oneActionInner">
      <div class="oneActionContainer row">
        <div class="column small-12 medium-7 large-5 small-centered">
          <div class="row">
            <div class="column small-12">
              <h1 class="text-center">Register</h1>
              {% if errors %}
                {{errors}}
              {% endif %}
              <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                  {% for input in usercreationform %}
                    <div class="small-12 columns">
                      <label>{{input.label}}
                        {{input}}
                      </label>
                      {{input.field_errors}}
                    </div>
                  {% endfor %}       
                  <div class="small-12 columns">
                    <button class="button expanded">
                      Register 
                    </button>
                  </div>        
                </div>
              </form>
              <div class="text-center">
                <p class="inline"><a href="{% url 'accounts.login' %}">Have an account</a></p> &bull;
                <p class="inline"><a href="#">Trouble logging in?</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}