@charset "UTF-8";
/**
 * CSS helper class
 * Version : 1.0;
 * 
 * Contains list of css classes used for typical functions
 * 
 * Customization
 * -------------
 *
 * The package comes with utlity classes which display color 
 * these are are set to browser defaults in helper.css.
 * You may set color of your choice and over-ride the default
 * 
 * .border{
 *		border-color : #ccc;
 *	}
 */

/** 
 * Opaque 
 *
 * Sets opacity of applied section to 1
 */
.opaque {
	opacity: 1;
}

/** 
 *  Under line
 */
.no-underline{
  text-decoration: none;
}

.underline, a{
  text-decoration: underline;
}

.in-line li{
	display: inline-block;
}

/** 
 * Text 
 */
.upper{
	text-transform: uppercase;
}


/**
 * Space
 *
 * Resets the space around the block to zero
 */
.nospace, .nospace-top {
	margin-top: 0 !important;
}

.nospace, .nospace-bottom {
	margin-bottom: 0 !important;
}

.nospace, .nospace-right{
	margin-right: 0 !important;
}

.nospace, .nospace-left{
	margin-left: 0 !important;
}

/**
 * Padding
 *
 * Adds padding to block 
 */
.padd-1, .padd-1-right{
	padding-right: 0.25em !important;
}

.padd-1, .padd-1-left{
	padding-left: 0.25em !important;
}

.padd-1, .padd-1-top{
	padding-top: 0.25em !important;
}

.padd-1, .padd-1-bottom{
	padding-bottom: 0.25em !important;
}

.padd-2, .padd-2-right{
	padding-right: 0.5em !important;
}

.padd-2, .padd-2-left{
	padding-left: 0.5em !important;
}

.padd-2, .padd-2-top{
	padding-top: 0.5em !important;
}

.padd-2, .padd-2-bottom{
	padding-bottom: 0.5em !important;
}

.padd-3, .padd-3-right{
	padding-right: 0.75em !important;
}

.padd-3, .padd-3-left{
	padding-left: 0.75em !important;
}

.padd-3, .padd-3-top{
	padding-top: 0.75em !important;
}

.padd-3, .padd-3-bottom{
	padding-bottom: 0.75em !important;
}

.padd-4, .padd-4-right{
	padding-right: 1em !important;
}

.padd-4, .padd-4-left{
	padding-left: 1em !important;
}

.padd-4, .padd-4-top{
	padding-top: 1em !important;
}

.padd-4, .padd-4-bottom{
	padding-bottom: 1em !important;
}

/**
 * Margin
 *
 * Adds Margin to block 
 */
 .push-0, .push-0-right{
	margin-right: 0em !important;
}

.push-0, .push-0-left{
	margin-left: 0em !important;
}

.push-0, .push-0-top{
	margin-top: 0em !important;
}

.push-0, .push-0-bottom{
	margin-bottom: 0em !important;
}

.push-1, .push-1-right{
	margin-right: 0.25em !important;
}

.push-1, .push-1-left{
	margin-left: 0.25em !important;
}

.push-1, .push-1-top{
	margin-top: 0.25em !important;
}

.push-1, .push-1-bottom{
	margin-bottom: 0.25em !important;
}

.push-2, .push-2-right{
	margin-right: 0.5em !important;
}

.push-2, .push-2-left{
	margin-left: 0.5em  !important;
}

.push-2, .push-2-top{
	margin-top: 0.5em  !important;
}

.push-2, .push-2-bottom{
	margin-bottom: 0.5em  !important;
}

.push-4, .push-4-right{
	margin-right: 1em !important;
}

.push-4, .push-4-left{
	margin-left: 1em !important;
}

.push-4, .push-4-top{
	margin-top: 1em !important;
}

.push-4, .push-4-bottom{
	margin-bottom: 1em !important;
}

/**
 * Border 
 *
 * Applies border to the block
 */

.border{
	/* Border color to be mentioned in style */
}
	.bt, .b-all{
		border-top: 1px solid;
	}

	.br, .b-all{
		border-right: 1px solid;
	}

	.bb, .b-all{
		border-bottom: 1px solid;
	}

	.bl, .b-all{
		border-left: 1px solid;
	}

/**
 * Center Block
 *
 * Aligns block to center vertical and Horizontal
 * 
 * Note : Max width of the one action cotainer is set to 1000,
 *        It can be over-rid when required.
 *				(Refer class : oneActionContainer for information)
 */
#oneAction{
	display: table;
	height: 80%;
	width: 100%;
}

	.oneActionInner{
		display: table-cell;
		vertical-align: middle;
	}

	.oneActionContainer{
		margin-left: auto;
		margin-right: auto;

		/* Can be Over-rid as required */
		max-width: 1000px;
		width: 95%;
	}

/** 
 * Inline List
 *
 * Makes li elements in-line 
 */
.inline{
	display: inline-block !important;
}