{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="oneAction">
  <div class="oneActionInner">
    <div class="oneActionContainer">
      <div class="row">
        <div class="large-5 medium-5 small-12 small-centered columns">
          <div class="bg-white border padd-4 b-all">
            <div class="row">
              <div class="column small-12">
                <a href="{% url 'public.home'%}" class="logo float-center"><img src="{% static 'images/logo.png' %}"/></a>
              </div>
            </div>
            <div class="row push-4-top">
              <div class="small-12 medium-12 medium-centered columns">
        				<form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <ul class="no-bullet">
                  {% for err in form.non_field_errors %}
                    <li class="cl-red">{{ err }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <div class="row">
                  <div class="small-12 columns">
                    <label>{{form.email.label}}
                    {{form.email}}
                    </label>
                  </div>
                  <div class="small-12 columns">
                    <label>{{form.phone.label}}</label>
                    {{form.phone}}
                  </div>
                  <div class="small-12 columns">
                    <button class="button success expanded">View Booking</button>
                  </div>
                </div>
                </form>
              </div>
            </div>
            <p class="cl-gray">Use the Mobile Number and E-mail ID used for booking to view ticket or make reamaining payments.</p>
          </div>
          <p class="cl-gray text-center push-4-top">Haven't made a booking? <a href="{% url 'package.list' %}">Find a Place to stay</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}