{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="bg-white border bb">
  <div class="row padd-4-top">
  	<div class="small-12 columns">
  		<h3>Review Booking</h3>
      <p class="cl-gray">You are 2 minutes away from awesome!</p>
  	</div>
  </div>

  <div class="row padd-4-bottom">
  	<div class="small-12 medium-8 large-9 columns push-4-top">
      <div class="row">
        <div class="small-12 medium-8 large-5 column push-4-bottom">
          <img {%if booking.package.image_1 %} src="{{ MEDIA_URL }}{{booking.package.image_1.url}}" {% else %} src="{% static 'images/default.png' %}" {%endif%}>  
        </div>
        <div class="small-12 medium-4 large-7 column">
          <h4>{{booking.package.name}}</h4>
          <ul class="no-bullet">
            <li><span class="cl-gray">{{booking.package.property_type_select}}</span></li>
            <li>{{booking.package.address_2}}</li>
          </ul>
          <div class="row border bt padd-4-top">
            <div class="small-6 medium-12 large-6  columns border br">
              <ul class="no-bullet">
                <li>Check-in : <strong>{{booking.checkin}}</strong></li>
                <li>Check-Out : <strong>{{booking.checkout}}</strong></li>
                <li><span class="cl-gray">Total length of stay {{booking.no_of_nights}} Night(s)</span></li>
              </ul>
            </div>
            <div class="small-6 medium-12 large-6  columns ">
            <ul class="no-bullet">
              <li>Guest : {{booking.no_of_guest}}</li>
              <li>Additional Guest : {{booking.no_of_extra_bed}}</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
  	</div>

    <div class="small-12 medium-4 large-3 columns push-4-top">
      <div class="border b-all padd-4">
        <h4>Total : INR {{order.total}}</h4>
        <p class="cl-gray">Includes internet handeling fee 8%.<br/>
        Service tax 15%.
        </p>
        <hr/>
        {% if not order.promo %}
        <h6>Promo Code</h6>
        <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="small-12 columns">
            {% if promo_form.non_field_errors %}
              {% for err in promo_form.non_field_errors %}
                <span class="cl-red">{{ err }}</span>
              {% endfor %}
            {% endif %}
            <div class="input-group">
              {{promo_form.promo_code}}
              <div class="input-group-button">
                <input type="submit" class="button success" value="Apply">
              </div>
            </div> 
          </div>
          {{promo_form.promo_form}}
        </div>
        </form>
        {% else %}
        <h6>Promo Code</h6>
        <p class="cl-gray">"{{order.promo.promo_code}}" for discount of INR{{order.promo.price}} is applied to the booking. <br/><a href="{% url 'booking.order.promo_code.remove' booking.id order.id order.promo.id %}">Remove Promo</a> </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row push-4-top" data-equalizer="order">
  <div class="small-12 medium-12 large-4 column {% if not add_ons %} hide-for-small-only {% endif %}">
    <div class="bg-white border b-all padd-4  push-4-top" data-equalizer-watch="order">
    <h5>Add-On's</h5>
    {% if add_ons %}
      <p>The following add-on's options are avalible for you to include with your booking.</p>
      <form method="post">
      {% csrf_token %}
        <div class="row">
         <div class="small-12 medium-12 columns">
            <label>{{addon_form.add_on.label}}</label>
            <span class="cl-red">{{addon_form.add_on.errors.0}}</span>
            <ul class="no-bullet nospace">
              {% for add_on in addon_form.add_on %}
                <li>{{add_on}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <label>{{addon_form.quantity.label}}
            {{addon_form.quantity}}
            </label>
          </div>
          {{addon_form.addon_form}}
          <div class="small-6 columns padd-3-top">
            <button class="button expanded push-4-top">Add</button>
          </div>
        </div>
      </form>
    {% else %}
      <p class="cl-gray">No Add-on's avalible for this booking.</p>
      <div class="row">
        <div class="small-8 medium-5 small-centered columns push-4-top">
          <img src="{% static 'images/icons/shopping-cart.png' %}">
        </div>
      </div>
    {% endif %}
    </div>
  </div>
  <div class="small-12 medium-12 large-8 column">
    <div class="bg-white border b-all padd-4 push-4-top" data-equalizer-watch="order">
      <h5>Order</h5>
      <p class="cl-gray">Itenery for your booking.</p>
      <div class="table-scroll">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th width="150">Price (INR)</th>
              <th width="150">Quantity</th>
              <th width="150">Total (INR)</th>
            </tr>
          </thead>
          <tbody>
          {% for item in order_items %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>
                {{item.description}}
                {% if item.lock == False %}
                  <br/><a href="{% url 'booking.order.item.remove' booking.id order.id item.id %}">Delete</a>
                {% endif %}
              </td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>            
              <td>{{item.total}}</td>
            </tr>
          {% endfor %}
            <tr>
              <td colspan="5" class="text-right"></td>
            </tr>
            <tr>
              <td colspan="4" class="text-right">Sub Total</td>
              <td>{{order.sub_total}}</td>
            </tr>
            <tr>
              <td colspan="4" class="text-right">Internet Handeling Fee</td>
              <td>{{order.charge}}</td>
            </tr>
            <tr>
              <td colspan="4" class="text-right">Tax</td>
              <td>{{order.tax}}</td>
            </tr>
            {% if order.promo %}
            <tr>
              <td colspan="4" class="text-right">
                Offer ({{order.promo.promo_code}})<br/>
                <a href="{% url 'booking.order.promo_code.remove' booking.id order.id order.promo.id %}">Delete</a> {{order.promo.description}}
              </td>
              <td>- {{order.promo.price}}</td>
            </tr>
            {% endif %}
            <tr>
              <td colspan="4" class="text-right">Total</td>
              <td>{{order.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row push-4-top">
  <div class="small-12 medium-8 column medium-push-4">
    <div class="bg-white border b-all padd-4  push-4-top" data-equalizer-watch="order">
      <h5>Payment</h5>
      <form method="post">
        {% csrf_token %}
        {{order_form.payment_type}}
        {{order_form.order_form}}
        <button class="button push-4-top success">Proceed to Pay</button>
      </form>
    </div>
  </div>
</div>
<!-- <div class="row push-4-top">
  <div class="small-12 medium-6 column">
    <div class="padd-4-top">
      <p>Payment Options</p>
      <ol>
        <li><strong>Full Payment </strong> : Pay the total amount of INR {{order.total}} and confirm your booking.</li>
        <li><strong>Part Payment </strong> : You can choose to pay 50% of <stron>INR {{order.total}}</stron> equaling <strong>INR {{total_50}}</strong> and block your booking now, and pay the remaining amounts before <strong>{{total_50_date}}</strong>.      
        </li>
      </ol>
      <p><strong>Note</strong> : If you fail to pay the future installments on time, your booking will be void and no refund will be given on earlier payment done.</p>

    </div>
  </div>
  <div class="small-12 medium-6 column">
    <div class="bg-white border b-all padd-4  push-4-top" data-equalizer-watch="order">
      <h5>Payment</h5>
      <p>Select a payment option to proceed</p>
      <form method="post">
        {% csrf_token %}
        <label>{{order_form.payment_type.label}}
        <ul class="no-bullet nospace">
          {% for payment in order_form.payment_type %}
            <li class="">{{payment}}</li>
          {% endfor %}
        </ul>
        </label>
        {{order_form.order_form}}
        <button class="button push-4-top success">Proceed to Pay</button>
      </form>
    </div>
  </div>
  
</div> -->
{% endblock content %}