{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="bg-white border bb">
  <div class="row padd-4-top">
  	<div class="small-12 columns">
  		<h3>Bookings list</h3>
      <p class="cl-gray">Booings for Email : {{guest.email}} and Phone :  {{guest.phone}}</p>
  	</div>
  </div>
</div>
<div class="row push-4-top">
  <div class="small-12 medium-6 small-centered column">
    <div class="bg-white border b-all padd-4 push-4-top" data-equalizer-watch="order">
      {% if bookings %}
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Booking ID</th>
                <th>Booking Information</th>
                <th>Booking Status</th>
              </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'booking.info' booking.booking_id %}" target="_blank">{{booking.booking_id}}</a></td>
                <td>{{booking.package.name}} <br/>
                {{booking.no_of_guest}} {% if booking.no_of_extra_bed %} + {{booking.no_of_extra_bed}} {% endif %} Adult(s)<br/>
                <strong>Checkin : {{booking.checkin}}</strong> | <strong>Checkout : {{booking.checkout}}</strong>
                </td>
                <td> 
                  <button class="label
                  {% if booking.booking_status == 0 %}
                    alert
                  {% elif booking.booking_status == 1 %}
                    success
                  {% elif booking.booking_status == 2 %}
                    warning
                  {% else %}
                    alert
                  {% endif %}
                ">{{booking.get_booking_status_display}}</button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <div class="row">
          <div class="small-12 columns text-center">
            <h2>No Bookings</h2>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-4 large-3 small-centered columns">
            <img src="{{MEDIA_URL}} {% static 'images/icons/mountain.png' %}">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns text-center">
            <p class="cl-gray">There is no booking made on your account.</p>
            <a href="{% url 'package.list' %}" class="button large success">Find a Place to stay</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}