{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="oneAction">
  <div class="oneActionInner">
    <div class="oneActionContainer">
      <div class="row">
        <div class="large-8 medium-10 small-12 small-centered columns">
          <div class="bg-white border padd-4 b-all">
            <div class="row">
              <div class="column small-12">
                <a href="{% url 'public.home'%}" class="logo float-center"><img src="{% static 'images/logo.png' %}"/></a>
              </div>
            </div>
            <div class="row push-4-top">
              <div class="small-12 medium-12 medium-centered columns">
				<h4 class="text-center">It's Odd isn't it.</h4>
				<p>The following Payment was canceled from the user side. If you wish to proceed with booking, <a href="{% url 'booking.auth' %}">click here</a>.</p>
				<p>Enter the <strong>E-mail address</strong> and <strong>Mobile number</strong> used during registration and resume the booking.</p>
				<p>Thank you for choosing Roomnhouse</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}