{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="index-header">
    <div class="push-4-left float-left push-2-top hide-for-small-only">
        <p class="cl-white text-center">
            <img src="{% static 'images/logo.png' %}" style="width:250px;"><br/>
            <strong>Official Travel Partner</strong>
        </p>
    </div>

    <div class="show-for-small-only">
        <p class="cl-white text-center">
            <img src="{% static 'images/logo.png' %}" style="width:250px;"><br/>
            <strong>Official Travel Partner</strong>
        </p>
    </div>

    <div class="float-right push-4-top push-1-right hide-for-small-only">
        <a class="button success" target="_blank" href="https://in.bookmyshow.com/concerts/timeout-72-hours-music-fest-goa/">Buy Tickets</a>
    </div>
</div>



<div id="center-container" class="rnh-index">                   <!-- Acts as table -->
    <div class="container-wrap rnh-index-inner" >                         <!-- Acts as row   -->
        <div class="playground">      
            <img src="{% static 'images/logo-B.png' %}" style="width:300px;"></br>
            <h3 class="cl-white">27-29 Dec, Goa</h3>

             <div class="push-4-top show-for-small-only">
                <a class="button success" target="_blank" href="https://in.bookmyshow.com/concerts/timeout-72-hours-music-fest-goa/">Buy Tickets</a>
            </div>
        </div>
    </div>
</div>

<div class="row border bt">
    <div class="column small-12 small-centered medium-12">
        <div class="row padd-4-top padd-4-bottom" data-equalizer="ct-1">
            <div class="column small-6 medium-6">
                <div class="padd-4 push-4-top push-4-bottom bg-white border b-all" data-equalizer-watch="ct-1">
                    <div class="row">
                        <div class="small-6 medium-3 column">
                            <img src="{% static 'images/icons/hotel.png' %}">
                        </div>
                        <div class="small-12 medium-9 column text-left">
                            <h4>Accomodation</h4>
                            <p class="cl-gray">Accommodation for every budget in India only on Room n House.Book your package for Timeout 72.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column small-6 medium-6">
                <div class="padd-4 push-4-top push-4-bottom bg-white border b-all" data-equalizer-watch="ct-1">
                    <div class="row">
                        <div class="small-6 medium-3 column">
                            <img src="{% static 'images/Timeout-Golden.png' %}">
                        </div>
                        <div class="small-12 medium-9 column text-left">
                            <h4>Timeout 72 </h4>
                            <p class="cl-gray">3 day long multi-genre music festival that endeavours to give serious music lovers an electrifying all encompassing experience capturing hand-picked talent and live experiences from across the globe.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if packages %}
    <hr/>
    <div class="row">
        <div class="small-12 columns">
            <h4 class="text-center">Featured Listings</h4>
        </div>
    </div>
    <div class="row" data-equalizer="sidebar">
        <div class="small-12 medium-4 large-3 columns push-4-top hide-for-small-only" data-equalizer-watch="sidebar">
            <div class="bg-white border b-all padd-4" >
                <h5 class="float-left">Filter Search</h5>
                <a href="{% url 'package.list' %}" class="float-right" >Reset</a>
                <hr/>
                 <span class="cl-gray">Package :</span>
                <ul class="">
                  <li><a href="{% url 'package.list' %}?nights=3" >3 Nights</a></li>
                  <li><a href="{% url 'package.list' %}?nights=4" >4 Nights</a></li>
                  <li><a href="{% url 'package.list' %}?nights=5" >5 Nights</a></li>
                  <li><a href="{% url 'package.list' %}?nights=6" >6 Nights</a></li>
                  <li><a href="{% url 'package.list' %}?nights=7" >7 Nights</a></li>
                </ul>
            </div>
        </div>
        <div class="small-12 medium-8 large-9 columns border bl " data-equalizer-watch="sidebar">
            <div class="row" data-equalizer="image">
                <div data-equalizer="content">
                    {% for package in packages %}
                        <div class="column small-12 medium-4 large-3 push-4-top push-4-bottom end" >
                            <div class=" border bt br bl">
                                <img {%if package.image_1 %} src="{{ MEDIA_URL }}{{package.image_1.url}}" {% else %} src="{% static 'images/default.png' %}" {%endif%} data-equalizer-watch="image">  
                            </div>
                            <div class="bg-white border b-all padd-2 push-2-bottom" data-equalizer-watch="content">
                                <div class="float-right">{{package.city}}</div>
                                <a href="{% url 'package.info' package.id %}"><h4 class="list-title">{{package.name|truncatechars:40}}</h4></a>
                                
                                <p>Packages Offered :
                                {% for length in package.length.all %}
                                    {%if forloop.counter != 1%}, {%endif%}
                                    {{length.nights}}
                                {% endfor %} Night(s)<br/>
                                <span class="cl-gray">{{package.address_2}}</span></p>

                                <h5>{{package.base_price}}<span class="subheader"> INR/Night</span></h5>
                            </div>
                            <a class="button success" href="{% url 'package.info' package.id %}">Book Now</a>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
{% endif %}
<hr/>
<div class="row">
    <div class="small-12 medium-6 small-centered columns">
        <a href="{% url 'package.list' %}" class="button expanded large push-4-top">View All Listings >></a>
    </div>
</div>
{% endblock content %}