{% load staticfiles %}
{% if user.is_authenticated and navigation != False %}
	<div class=" border bb bg-white">
		<div class="row">
			<div class="column small-6">
		    	<a href="{% url 'public.home'%}" class="logo"><img src="{% static 'images/logo.png' %}"/></a>
			</div>
		  <div class="column small-6 hide-for-small-only">
		    <ul class="dropdown menu float-right" data-dropdown-menu>
		        <li>
		          <a href="{% url 'accounts.index' %}"> Hi {{ request.user.username }}!</a>
		          <ul class="menu">
		           <!--  <li><a href="{% url 'accounts.profile' %}">User Profile</a></li> -->
		            <li><a href="{% url 'accounts.changepassword' %}">Change Password</a></li>
		            <li><a href="{% url 'accounts.logout' %}">Logout</a></li>
		          </ul>
		        </li>
		      </ul>
		  </div>
		</div>
	</div>
{% else %}
	<div class=" border bb bg-white">
		<div class="row">
			<div class="column small-6">
		    	<a href="{% url 'public.home'%}" class="logo"><img src="{% static 'images/logo.png' %}"/></a>
			</div>
		  <div class="column small-6 hide-for-small-only">
		    <div class="logo float-right"><img src="{% static 'images/timeout.png' %}"/></div>
		  </div>
		</div>
	</div>
{% endif %}

