{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title> {% if title %} {{title}} {% else %} Timeout 72 {% endif %} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/foundation.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles/helper.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles/motion-ui.css' %} " />
  <link rel="stylesheet" type="text/css" href="{% static 'styles/app.css' %} " />
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
</head>
<body>
  {% if navigation != False %}
   {% include "includes/navigation.html" %}
  {% endif %}
  {% block content %}
  {% endblock content %}
  {% if footer != False %}
    {% include "includes/footer.html" %}
  {% endif %}
  <script src="{% static 'scripts/vendor/what-input.min.js' %}"></script>  
  <script src="{% static 'scripts/vendor/jquery.min.js' %}"></script>
  <script src="{% static 'scripts/vendor/motion-ui.js' %}"></script>
  <script src="{% static 'scripts/foundation.min.js' %}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22093945-10"></script>

  <script>
 $(document).ready(function() {
     $(document).foundation();
   })


  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-22093945-10');

  </script>


</body>
</html>