{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="bg-white border bb">
  <div class="row padd-4-top padd-4-bottom">
    <div class="small-12 column"> 
      <h3>{{title}}</h3>
      <p class="cl-gray">{{count}} Listings found in this search.</p>
      </ul>
    </div>
  </div>
</div>

<div class="row push-4-top" data-equalizer="sidebar" >
  <div class="small-12 medium-4 large-3 columns push-4-top border br" data-equalizer-watch="sidebar">
    <div class="bg-white border b-all padd-4" >
        <h5 class="float-left">Filter Search</h5>
        <a href="{% url 'package.list' %}" class="float-right" >Reset</a>
        <hr/>
        <span class="cl-gray">Package :</span>
        <ul class="">
          <li><a href="{% url 'package.list' %}?nights=3" >3 Nights</a></li>
          <li><a href="{% url 'package.list' %}?nights=4" >4 Nights</a></li>
          <li><a href="{% url 'package.list' %}?nights=5" >5 Nights</a></li>
          <li><a href="{% url 'package.list' %}?nights=6" >6 Nights</a></li>
          <li><a href="{% url 'package.list' %}?nights=7" >7 Nights</a></li>
        </ul>
      </div>
    </div>
    <div class="small-12 medium-8 large-9 columns">
      {% if packages %}
        <div class="row" data-equalizer="image"  data-equalizer-watch="sidebar">
          <div data-equalizer="content">
            {% for package in packages %}
              <div class="column small-12 medium-6 large-4 push-4-top push-4-bottom end" >
                <div class=" border bt br bl">
                  <img {%if package.image_1 %} src="{{ MEDIA_URL }}{{package.image_1.url}}" {% else %} src="{% static 'images/default.png' %}" {%endif%} data-equalizer-watch="image">  
                </div>
                <div class="bg-white border b-all padd-2 push-2-bottom" data-equalizer-watch="content">
                  <div class="float-right">{{package.city}}</div>
                  <a href="{% url 'package.info' package.id %}"><h4 class="list-title">{{package.name|truncatechars:40}}</h4></a>
                  
                  <p>Packages Offered :
                  {% for length in package.length.all %}
                    {%if forloop.counter != 1%}, {%endif%}
                    {{length.nights}}
                  {% endfor %} Night(s)<br/>
                  <span class="cl-gray">{{package.address_2}}</span></p>

                  <h5>{{package.base_price}}<span class="subheader"> INR/Night</span></h5>
                </div>
                <a class="button success" href="{% url 'package.info' package.id %}">Book Now</a>
              </div>
            {%endfor%}
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="small-12 column push-2-top">
            {% if packages.paginator %}
              <ul class="pagination" role="navigation" aria-label="Pagination">
                {% if packages.has_previous %}
                  <li> <a href="?page={{ packages.previous_page_number }}">Previous <span class="show-for-sr">page</span></a></li>
                {% else %}
                  <li class="disabled">Previous <span class="show-for-sr">page</span></li>
                {% endif %}    
                {% for num in packages.paginator.page_range %}
                  {% ifequal num packages.number %}
                    <li class="current"><span class="show-for-sr">You're on page</span> {{ num }}</li>
                  {% else %}
                    <li><a href="?page={{ num }}" aria-label="Page {{ num }}">{{ num }}</a></li>
                  {% endifequal %} 
                {% endfor %}
                {% if packages.has_next %}
                  <li><a href="?page={{ packages.next_page_number }}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
                {%else%}
                  <li class="disabled">Next <span class="show-for-sr">page</span></li>
                {% endif %}    
              </ul>
            {% endif %}      
          </div>
        </div>
      {% else %}
      <div class="row push-4-top">
        <div class="small-12 medium-8 large-6 column small-centered padd-4-top text-center">
          <div class=" padd-4-bottom push-4-top">
            <h3>Sorry We couldn't find it :(</h3>
            <div class="row">
              <div class="small-8 medium-6 large-4 columns small-centered"><img src="{% static 'images/icons/ufo.png' %}" data-equalizer-watch="image">  </div>
          </div>
        </div>
        <p class="cl-gray">Sorry, after a deep search in the galaxy our space ship returned with no results.</p>
        <p> So let's take you back to <a href="{% url 'package.list' %}">All Package</a> and perform search again.</p>

      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}